.color-portal {
    pointer-events: all;

    margin: auto 0;
    padding: 5px;
    border: ridge 6px $grey-chateau;
    max-height: 200px;
    max-width: 100px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    // overflow-y: hidden;
    background: $bay-of-many; /* Old browsers */
    background: -moz-linear-gradient(top,  darken($bay-of-many, 15%) 0%, $bay-of-many 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  darken($bay-of-many, 15%) 0%,$bay-of-many 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  darken($bay-of-many, 15%) 0%,$bay-of-many 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8200c9', endColorstr='#ffbbbb',GradientType=0 ); /* IE6-9 */

    @include media(from tablet) {
        max-height: 200px;
        max-width: 150px;
    }
}

.color-portal__container {
    pointer-events: none;
    display: flex;
    position: absolute;
    right: 0;
    height: 100%;
    transition: transform .5s ease-in-out;

    &--open { transform: translateX(0) }
    &--closed { transform: translateX(100px) }

    @include media(from tablet) {
        &--closed { transform: translateX(110px) }
    }
}

.color-portal__product {
    border: solid 4px;
    border-top-color: lighten($grey-chateau, 15%);
    border-left-color: lighten($grey-chateau, 15%);
    border-bottom-color: darken($grey-chateau, 15%);
    border-right-color: darken($grey-chateau, 15%);
    background-color: $grey-chateau;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;

    &:active {
        background-color: $bubblegum;
        border-top-color: darken($bubblegum, 15%);
        border-left-color: darken($bubblegum, 15%);
        border-bottom-color: lighten($bubblegum, 15%);
        border-right-color: lighten($bubblegum, 15%);
    }

    &:hover { 
        background-color: $bubblegum;
        border-top-color: lighten($bubblegum, 15%);
        border-left-color: lighten($bubblegum, 15%);
        border-bottom-color: darken($bubblegum, 15%);
        border-right-color: darken($bubblegum, 15%);
    }

    &:last-of-type { margin-bottom: 0px; }

    &--active { 
        background-color: $punch;
        border-top-color: lighten($punch, 15%);
        border-left-color: lighten($punch, 15%);
        border-bottom-color: darken($punch, 15%);
        border-right-color: darken($punch, 15%);
     }

}

.color-portal__product-img{
    max-width: 100%;
} 

.color-portal__toggle {
    pointer-events: all;
    margin: auto 0;
    height: 200px;
    width: 30px;

    border: solid 2px;
    border-top-color: lighten($bay-of-many, 15%);
    border-left-color: lighten($bay-of-many, 15%);
    border-bottom-color: darken(darken($bay-of-many, 15%), 15%);
    border-right-color: darken(darken($bay-of-many, 15%), 15%);

    background: darken($bay-of-many, 15%); /* Old browsers */
    background: -moz-linear-gradient(bottom,  darken($bay-of-many, 15%) 0%, $bay-of-many 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(bottom,  darken($bay-of-many, 15%) 0%,$bay-of-many 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top,  darken($bay-of-many, 15%) 0%,$bay-of-many 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    &:active {
        border-top-color: darken(darken($bay-of-many, 15%), 15%);
        border-left-color: darken(darken($bay-of-many, 15%), 15%);
        border-bottom-color: lighten($bay-of-many, 15%);
        border-right-color: lighten($bay-of-many, 15%);
    }

    @include media(from tablet) {
        height: 200px;
    }
}