// Name your color variables with "Name that Color"
// http://chir.ag/projects/name-that-color/

$black:     #000000;
$mineshaft: #333333;
$white:     #ffffff;

// onbrand colors
$punch: #DF4F3E;
$bay-of-many: #273B88;
$grey-chateau: #A9ABAC;
$bubblegum: #ee9ec5;
$sky-blue: #9cd0e5;

// evil beta colors
$purple: #8200c9;
